managerv1.html
managerv2.html
managerv3.html
managerv3-2.html
READMEv3.md
READMEv3-2.md
managerv4.html
READMEv4.md
soccer_manager_v01
soccer_manager_v031
soccer_manager_v040
soccer_manager_v050
soccer_manager_v032.zip
soccer_manager_v040.zip
Soccer Manager v0.1.odt
versoes antigas
